.navbar{
  position: sticky;
  top: 3.25rem;
}

.page-header:hover{
text-decoration: underline;
color: blue;
}

  .fimg{
    margin-left: 25vh;
    margin-top: 10vh;
    height: 60vh;
    width: 60vh;
    box-shadow: 20px 10px 10px 10px grey;
    transition-property: all;
    transition-duration: 2s;
    padding: 10vh;
    
  }

   

    @media (orientation: portrait){
      .fimg{
        margin-left: 80px;
      }
    }


  .fimg:hover{
    box-shadow: 20px 20px 50px 10px rgb(0, 0, 0);
    transform: scale(1.2);
  }


  .fimgII{
    margin-left: 10vh;
    margin-top: 10vh;
    height: 60vh;
    width: 60vh;
    box-shadow: 20px 10px 10px 10px grey;
    transition-property: all;
    transition-duration: 2s;
    padding: 10vh;
   
  }

  .fimgII:hover{
    box-shadow: 20px 20px 50px 10px black;
    transform: scale(1.2);

  }
      /*the media querie for handset*/
  @media (orientation: portrait){
    .fimg:hover{
      transform: none;

    }

    .fimgII:hover{
     transform: none;
    }
  }

  .footer{
    background-color: rgb(41, 41, 41);
    width: auto;
    height: 400px;
    margin-top: 80px;
    margin-bottom: -20px;
    position: relative;
  }

  .footer img{
    margin-top: 300px;
    width: 150px;
    height: 100px;
    margin-left: -1170px;
  }

  @media (orientation: portrait){
    .footer img{
      margin-left: 55px;
    }
  }
    
  .footerII{
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    width: auto;
    height: 70px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 10px;
    
  }
  
  .footerII P{
    justify-content: center;
    padding-top: 15px;
  }


   .dadpara p{
    top: 100px;
    margin-left: 300px;
    padding-top: 80px;
    font-weight: bold;
    font-size: 1.6em;
    margin-top: -15px;
    color: blue;
  }
  .mumpara p{
    top: 100px;
    margin-left: 900px;
    padding-top: 80px;
    font-weight: bold;
    font-size: 1.6em;
    margin-top: -130px;
    color: blue;
  }
  .dadpara a{
    text-decoration: none;

  }
  .mumpara a{
    text-decoration: none;
  }
  .dadpara p:hover{
    color: rgb(89, 89, 255);
  }
  .mumpara p:hover{
    color: rgb(89, 89, 255);
  }

  @media (orientation: portrait){
    .dadpara p{
      display: none;
    }
    .mumpara p{
      display: none;
    }
  }

  .center img{
    margin-right: -25px;
    margin-top: 8px;
    
  }

  .center{
    background-image: url(backgroundchrit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: -500vw;
    
    
  }

  .slct-language{
    margin-right: 50px;
    color: white;
    padding: 10px;
  }

  .form label{
    margin-left: 250px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 1.8em;
  }

  .form input{
    margin-left: 550px;
    width: 200px;
    column-span: 30;
    border: 5px solid black;
    box-shadow: 0px 10px 20px 0px black;
    transition-property: all;
    transition-duration: 2s;
    
  }

   .form input:hover{
     background: rgb(255, 241, 241);
     border: 5px solid blue;
     transform: scale(1.1);
   }

  .form button{
    margin-left: 600px;
    border: 5px solid black;
    border-radius: 0px 10px 0px 10px;
    background: linear-gradient(to right,rgb(52, 52, 255),rgb(156, 156, 156));
    transition-property: all;
    transition-duration: 2s;
    font-weight: bold;
   
    
  }

  .form button:hover{
    background: linear-gradient(to right,rgb(52, 52, 255),rgb(156, 156, 156));
    border: 5px solid black;
    transform: scale(1.1);
    font-weight: bold;
    box-shadow: 0px 10px 20px 0px;
    
  }

  @media (orientation: portrait){
    .form label{
      margin-left: 50px;
      margin-top: 200px;
    }
    .form input{
      margin-left: 150px;
    }
    .form button{
      margin-left: 200px;
    }
  }
    /*styles for bio.html*/
  .contain1 img{
    float: left;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 60px;
    padding: 10px;
  }

  .contain2 img{
    display: inline;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 50px;
    margin-left: 60px;
  }

  